<div class="relative">
    <label for="{{ name }}">{% if label is defined %}{{  label }}{% endif %} {% if required is defined and required == true %}
            <span class="text-red-500">*</span>{% endif %}</label>
    <input type="email"
           id="{{name}}"
           name="{{ name }}"
           value="{% if value is defined %}{{  value }}{% endif %}"
           {% if required is defined and required == true %}required="{{ required }}"{% endif %}
           placeholder="{% if placeholder is defined %}{{ placeholder }}{% endif %}"
           class="form-input mt-1 block w-full  bg-white shadow-sm py-3  {% if add_classes is defined %}{{ add_classes }}{% endif %}"
    >
    {% if icon is defined and icon is not empty %} <span class="float-right absolute right-3 bottom-3 opacity-50">{{ icon|raw }}</span> {% endif %}

</div>