<!doctype html>
<html lang="fr" :class="{ 'theme-dark': dark }" x-data="data()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
{% set currentRoute = app.request.attributes.get('_route') %}
<body class="font-sans bg-white">
<div class="h-screen flex overflow-hidden" x-data="{ sidebarOpen: false }">
    <div class="md:hidden" x-show="sidebarOpen">
        <div class="fixed inset-0 flex z-40">
            <div @click="sidebarOpen = !sidebarOpen" class="fixed inset-0">
                <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
            </div>
            <div class="relative flex-1 flex flex-col max-w-xs w-full bg-blue-500">
                <div class="absolute top-0 right-0 -mr-14 p-1">
                    <button @click="sidebarOpen = !sidebarOpen" class="flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-gray-600" aria-label="Close sidebar">
                        <svg class="h-6 w-6 text-white" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
                    <div class="flex-shrink-0 flex items-center justify-center px-4">
                        Socle
                    </div>
                    <nav class="mt-5 px-2 space-y-1">
                        {% if currentRoute starts with 'admin-index' %}
                            {% include '_partials/_navbar/_active__link.html.twig' with {'path': path('admin-index'), 'texte': 'Tableau de bord', 'icon' : 'la-tachometer-alt'} %}
                        {% else %}
                            {% include '_partials/_navbar/_disable__link.html.twig' with {'path': path('admin-index'), 'texte': 'Tableau de bord', 'icon' : 'la-tachometer-alt'} %}
                        {% endif %}
                        {% if currentRoute starts with 'admin-utilisateurs-' %}
                            {% include '_partials/_navbar/_active__link.html.twig' with {'path': path('admin-utilisateurs-index'), 'texte': 'Utilisateurs', 'icon' : 'la-users'} %}
                        {% else %}
                            {% include '_partials/_navbar/_disable__link.html.twig' with {'path': path('admin-utilisateurs-index'), 'texte': 'Utilisateurs', 'icon' : 'la-users'} %}
                        {% endif %}
                    </nav>
                </div>
                <div class="flex-shrink-0 flex border-t border-blue-900 p-4">
                    <a href="#" class="flex-shrink-0 group block focus:outline-none">
                        <div class="flex items-center">
                            <div>
                                <img class="inline-block h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                            </div>
                            <div class="ml-3">
                                <p class="text-base leading-6 font-medium text-white">
                                    {{ app.user.lastName }} {{ app.user.firstName }}
                                </p>
                                <p class="text-sm leading-5 font-medium text-gray-200 group-hover:text-gray-700 group-focus:underline transition ease-in-out duration-150">
                                    Se deconnecter
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden md:flex md:flex-shrink-0">
        <div class="flex flex-col w-64">
            <div class="flex flex-col h-0 flex-1 border-r border-blue-500 bg-blue-500">
                <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                    <div class="flex items-center justify-center flex-shrink-0 px-4">
                        Socle
                    </div>
                    <nav class="mt-5 flex-1 px-2 bg-blue-500 space-y-1">
                        {% if currentRoute starts with 'admin-index' %}
                            {% include '_partials/_navbar/_active__link.html.twig' with {'path': path('admin-index'), 'texte': 'Tableau de bord', 'icon' : 'la-tachometer-alt'} %}
                        {% else %}
                            {% include '_partials/_navbar/_disable__link.html.twig' with {'path': path('admin-index'), 'texte': 'Tableau de bord', 'icon' : 'la-tachometer-alt'} %}
                        {% endif %}
                        {% if currentRoute starts with 'admin-utilisateurs-' %}
                            {% include '_partials/_navbar/_active__link.html.twig' with {'path': path('admin-utilisateurs-index'), 'texte': 'Utilisateurs', 'icon' : 'la-users'} %}
                        {% else %}
                            {% include '_partials/_navbar/_disable__link.html.twig' with {'path': path('admin-utilisateurs-index'), 'texte': 'Utilisateurs', 'icon' : 'la-users'} %}
                        {% endif %}
                    </nav>
                </div>
                <div class="flex-shrink-0 flex border-t border-blue-600 p-4">
                    <div href="#" class="flex-shrink-0 w-full group block">
                        <div class="flex items-center">
                            <div>
                                <img src="https://via.placeholder.com/300" alt="" class="inline-block h-9 w-9 rounded-full">
                            </div>
                            <div class="ml-3">
                                <p class="text-sm leading-5 font-medium text-white">
                                    {{ app.user.lastName }} {{ app.user.firstName }}
                                </p>
                                <a href="{{ path('auth-logout') }}" class="inline text-xs leading-4 font-medium text-gray-200 group-hover:text-gray-700 transition ease-in-out duration-150">
                                    Se déconnecter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
            <button @click="sidebarOpen = !sidebarOpen" class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150" aria-label="Open sidebar">
                <!-- Heroicon name: menu -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>
        <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
            <div class="pt-2 pb-6 md:py-6">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                    <h1 class="text-2xl font-semibold text-gray-900">{% block pageTitle %}{% endblock %}</h1>
                </div>
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                    {% for message in app.flashes('success') %}
                        {% include '_partials/_alerts/success.html.twig' with { 'text': message } %}
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        {% include '_partials/_alerts/danger.html.twig' with { 'text': message } %}
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        {% include '_partials/_alerts/warning.html.twig' with { 'text': message } %}
                    {% endfor %}
                    {% if formErrors is defined and formErrors is not empty %}
                        {% include '_partials/_alerts/formErrors.html.twig' with { 'nb': formErrors|length, "errors": formErrors } %}
                    {% endif %}
                    <div class="py-4">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>